/* Styling the header */
header {
    background-color: #ADD8E6; /* Light Blue */
    color: #333; /* Dark Gray for text */
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Styling the navigation bar */
nav {
    background-color: #ADD8E6; /* Light Blue */
    overflow: hidden;
}

nav ul li a {
    color: #333; /* Dark Gray for text */
}

nav ul li a:hover {
    background-color: #4682B4; /* Steel Blue */
}

header {
    background-color: #D3D3D3; /* Abu Muda */
    color: #000; /* Black */
}

footer {
    background-color: #FF6347; /* Tomato Red */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

nav ul li a:hover {
    background-color: #FFA500; /* Orange */
}
