/* Styling the header */
header {
    background-color: #ADD8E6; /* Light Blue */
    color: #333; /* Dark Gray for text */
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Styling the navigation bar */
nav {
    background-color: #ADD8E6; /* Light Blue */
    overflow: hidden;
}

nav ul li a {
    color: #333; /* Dark Gray for text */
}

nav ul li a:hover {
    background-color: #4682B4; /* Steel Blue */
}
